@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Monrope", sans-serif;
    margin: 0;
}

html {
    height: 100%;
}

.mian-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*! HTML */

.header-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.header {
    height: 73px;
    border-bottom: 1px solid #E5E9F2;
    display: flex;
    align-items: center;
}

/*^ margin - отступ от элемента */

img {
    display: block;
}

.logo {
    display: flex;
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
    color: #18191F;
    font-weight: bold;
    font-size: 14px;
}

.nav_link {
    margin-right: 35px;
    color: #18191F;
    text-decoration: none;
    transition: 0.3s;
}

.nav_link:hover {
    color: #8C30F5;
}

.nav_link:last-child {
    margin-right: 0;
}

.store {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

/*! HEADER */


.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
}

.main-header {
    margin-top: 0;
    line-height: 1.36;
    font-size: 72px;
    font-weight: 800;
}

.main-content {
    width: 540px;
    font-size: 18px;
    color: #18191F;
}

.main-content p {
    line-height: 1.78;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    height: 62px;
    width: 284px;
    background-color: #8C30F5;
    border-radius: 8px;
    text-decoration: none;
    line-height: 62px;

    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.8;
}

/*! MAIN */

.footer {
    height: 72px;
    background-color: #0b0d17;
    color: #D9DBE1;
    display: flex;
    align-items: center;
}

.footer-container {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

/*! FOOTER */